<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="meta-header">
</head>

<body>

<div class="row col-xs-offset-1">
    <div class="row">
        <h3><div th:text="@{'Category: ' + ${category.name}}"></div></h3>
        <h4><a href = "/"><< back</a></h4>

        <div class="col-xs-offset-1 col-md-8">
            <table class="table">
                <thead>
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Image url</strong></td>
                    <td></td>
                </tr>
                </thead>

                <tbody>
                <tr th:each="sc : ${serviceCompanies}">
                    <td th:text="${sc.name}"></td>
                    <td th:text="${sc.imageUrl}"></td>
                    <td>
                        <a th:href="@{'/service-company/' + ${sc.id}}">Details</a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


</body>

</html>