<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="meta-header">
</head>

<body>

<div class="row col-xs-offset-1">
    <div class="row">
        <h3>Scraping results. Categories.</h3>
        <h4 th:if="${googleBan == true}">
            <div>
                Google prohibits the usage of its search engine by automated means (scripts, bots etc.) and sometimes blocks suspicious requests. <br/>
                This block should expire shortly after those requests stop.<br/>
                <br/>
                This tool has stopped making queries to google search because of this. To start making queries again, please use this link:<br/>
                <a href="/remove-ban-flag">remove google ban flag</a>
            </div>
        </h4>
        <div class="row">
            <div class="col-xs-offset-1 col-md-8">
                <table class="table">
                    <thead>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td><strong>Site url</strong></td>
                        <td></td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="category : ${categories}">
                        <td th:text="${category.name}"></td>
                        <td th:text="${category.url}"></td>
                        <td>
                            <a th:href="@{'/category/' + ${category.id}}">Details</a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


</body>

</html>