<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="meta-header">
</head>

<body>

<div class="row col-xs-offset-1">
    <div class="row">
        <h3><div th:text="@{'Google search links for: ' + ${serviceCompany.name}}"></div></h3>
        <h4><a th:href = "@{'/category/' + ${serviceCompany.category.id}}"><< back</a></h4>

        <div class="col-xs-offset-1 col-md-8">
            <table class="table">
                <thead>
                <tr>
                    <td><strong>Title</strong></td>
                    <td><strong>Url</strong></td>
                </tr>
                </thead>

                <tbody>
                <tr th:each="gs : ${googleSearches}">
                    <td th:text="${gs.title}"></td>
                    <td th:text="${gs.url}"></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


</body>

</html>